In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

###  Store Part I results into DataFrame

##### Load the csv exported in Part I to a DataFrame

In [2]:
# Save path to data set in a variable
weather_data = pd.read_csv("../WeatherPy/Output_data_file")
weather_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,Nadym,0,RU,1603849423,90,65.53,72.52,1.33,6.06
1,Tasiilaq,100,GL,1603849424,37,65.61,-37.64,33.80,19.46
2,East London,50,ZA,1603849424,75,-33.02,27.91,66.87,16.22
3,Busselton,25,AU,1603849281,71,-33.65,115.33,64.00,1.99
4,Rome,90,US,1603849174,86,43.21,-75.46,41.00,1.57

In [3]:
# Import API key
from config import g_key

## Humidity Heatmap

##### Configure gmaps.
##### Use the Lat and Lng as locations and Humidity as the weight.
##### Add Heatmap layer to map.

In [4]:
#Configure gmaps
gmaps.configure(api_key = g_key)

#Use the Lat and Lng as locations and Humidity as the weight
locations = weather_data[["Lat","Lon"]]

humidity = weather_data["Humidity"]

In [5]:
# Plot Heatmap
fig = gmaps.figure()
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

#Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
max_intensity

100

 ## Create new DataFrame fitting weather criteria

#### Narrow down the cities to fit weather conditions.
#### Drop any rows will null values.

In [7]:
# Narrow down the cities to fit weather conditions

narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"]<=10) & (weather_data["Cloudiness"]== 0) &  
                                   (weather_data["Max Temp"]>= 70) & (weather_data["Max Temp"]<= 80)].dropna()

narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
114,San Miguel de Tucumán,0,AR,1603849229,44,-26.82,-65.22,78.80,9.17
142,Abu Dhabi,0,AE,1603849455,64,24.47,54.37,73.40,2.24
153,Tura,0,IN,1603849457,80,25.52,90.22,75.13,3.15
163,Keïta,0,NE,1603849459,27,14.76,5.77,75.20,6.53
175,São Félix do Xingu,0,BR,1603849461,82,-6.64,-51.99,75.58,2.28
185,Morondava,0,MG,1603849463,58,-20.28,44.28,73.11,2.53
233,Eyl,0,SO,1603849473,71,7.98,49.82,75.74,4.83
248,Dakoro,0,NE,1603849477,17,14.51,6.76,78.24,7.65
284,Bhuban,0,IN,1603849484,57,20.88,85.83,74.07,3.18
287,Arlit,0,NE,1603849485,17,18.74,7.39,76.17,6.89
291,Half Moon Bay,0,US,1603849486,51,37.46,-122.43,73.40,3.36
309,Zinder,0,NE,1603849489,18,13.81,8.99,77.27,8.52
344,Mauá,0,BR,1603849477,64,-23.67,-46.46,73.40,1.12
347,Kyabé,0,TD,1603849499,60,9.45,18.94,75.25,2.93
362,Dongli,0,CN,1603849502,69,23.57,116.82,77.00,2.24
369,Napāsar,0,IN,1603849505,21,27.97,73.55,72.00,7.29
381,Uthal,0,PK,1603849507,60,25.81,66.62,70.77,1.57
397,Songadh,0,IN,1603849511,58,21.17,73.57,72.28,3.60
403,Upington,0,ZA,1603849512,25,-28.45,21.26,73.40,9.17
419,Biltine,0,TD,1603849516,21,14.53,20.92,78.30,9.69
426,Sotouboua,0,TG,1603849517,67,8.57,0.98,72.61,0.36
446,Murray Bridge,0,AU,1603849522,50,-35.12,139.27,70.00,3.00
447,Chabahar,0,IR,1603849522,54,25.29,60.64,73.74,7.81
484,Cananéia,0,BR,1603849530,89,-25.01,-47.93,70.92,1.72
529,Barra do Piraí,0,BR,1603849539,88,-22.47,-43.83,75.20,6.93

 # Hotel Map

##### Store into variable named hotel_df.
##### Add a "Hotel Name" column to the DataFrame.
##### Set parameters to search for hotels with 5000 meters.
##### Hit the Google Places API for each city's coordinates.
##### Store the first Hotel result into the DataFrame.
##### Plot markers on top of the heatmap.

In [8]:
#Store into variable named hotel_df
Hotel_df = narrowed_city_df.loc[:, ["City", "Country", "Lat", "Lon"]]

#Add a "Hotel Name" column to the DataFrame.
Hotel_df["Hotel Name"] = ""

Hotel_df

                      City Country    Lat     Lon Hotel Name
114  San Miguel de Tucumán      AR -26.82  -65.22
142              Abu Dhabi      AE  24.47   54.37
153                   Tura      IN  25.52   90.22
163                  Keïta      NE  14.76    5.77
175     São Félix do Xingu      BR  -6.64  -51.99
185              Morondava      MG -20.28   44.28
233                    Eyl      SO   7.98   49.82
248                 Dakoro      NE  14.51    6.76
284                 Bhuban      IN  20.88   85.83
287                  Arlit      NE  18.74    7.39
291          Half Moon Bay      US  37.46 -122.43
309                 Zinder      NE  13.81    8.99
344                   Mauá      BR -23.67  -46.46
347                  Kyabé      TD   9.45   18.94
362                 Dongli      CN  23.57  116.82
369                Napāsar      IN  27.97   73.55
381                  Uthal      PK  25.81   66.62
397                Songadh      IN  21.17   73.57
403               Upington      ZA -28.45   21.26
419                Biltine      TD  14.53   20.92
426              Sotouboua      TG   8.57    0.98
446          Murray Bridge      AU -35.12  139.27
447               Chabahar      IR  25.29   60.64
484               Cananéia      BR -25.01  -47.93
529         Barra do Piraí      BR -22.47  -43.83

In [12]:
#url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    
        "radius": 5000,
        "types": "lodging",
        "key" : g_key         
}

In [21]:
# url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#params["location"] = f"{Lat},{Lon}"
#name = requests.get(url, params=params)
#name = name.json()
    
#print(name)

In [23]:
for index, row in Hotel_df.iterrows():
    
    Lat =row["Lat"]
    Lng = row["Lon"]
    City_Name = row["City"]
    
    params ["locations"] = f"{Lat},{Lng}"
    print (f"Getting result for Index {index}: {City_Name}.")
    response = requests.get(url, params=params)
    response = response.json()
    
    results = response["results"]
        
    
    try:
        print(f"Closest hotel in {City_Name} is {results[0]['name']}.")
        Hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        
    except KeyError:
            print("No result,skipping....")

Getting result for Index 114: San Miguel de Tucumán.
Closest hotel in San Miguel de Tucumán is Dallas Hotel Tucuman.
Getting result for Index 142: Abu Dhabi.
Closest hotel in Abu Dhabi is Dallas Hotel Tucuman.
Getting result for Index 153: Tura.
Closest hotel in Tura is Dallas Hotel Tucuman.
Getting result for Index 163: Keïta.
Closest hotel in Keïta is Dallas Hotel Tucuman.
Getting result for Index 175: São Félix do Xingu.
Closest hotel in São Félix do Xingu is Dallas Hotel Tucuman.
Getting result for Index 185: Morondava.
Closest hotel in Morondava is Dallas Hotel Tucuman.
Getting result for Index 233: Eyl.
Closest hotel in Eyl is Dallas Hotel Tucuman.
Getting result for Index 248: Dakoro.
Closest hotel in Dakoro is Dallas Hotel Tucuman.
Getting result for Index 284: Bhuban.
Closest hotel in Bhuban is Dallas Hotel Tucuman.
Getting result for Index 287: Arlit.
Closest hotel in Arlit is Dallas Hotel Tucuman.
Getting result for Index 291: Half Moon Bay.
Closest hotel in Half Moon Bay is Dallas Hotel Tucuman.
Getting result for Index 309: Zinder.
Closest hotel in Zinder is Dallas Hotel Tucuman.
Getting result for Index 344: Mauá.
Closest hotel in Mauá is Dallas Hotel Tucuman.
Getting result for Index 347: Kyabé.
Closest hotel in Kyabé is Dallas Hotel Tucuman.
Getting result for Index 362: Dongli.
Closest hotel in Dongli is Dallas Hotel Tucuman.
Getting result for Index 369: Napāsar.
Closest hotel in Napāsar is Dallas Hotel Tucuman.
Getting result for Index 381: Uthal.
Closest hotel in Uthal is Dallas Hotel Tucuman.
Getting result for Index 397: Songadh.
Closest hotel in Songadh is Dallas Hotel Tucuman.
Getting result for Index 403: Upington.
Closest hotel in Upington is Dallas Hotel Tucuman.
Getting result for Index 419: Biltine.
Closest hotel in Biltine is Dallas Hotel Tucuman.
Getting result for Index 426: Sotouboua.
Closest hotel in Sotouboua is Dallas Hotel Tucuman.
Getting result for Index 446: Murray Bridge.
Closest hotel in Murray Bridge is Dallas Hotel Tucuman.
Getting result for Index 447: Chabahar.
Closest hotel in Chabahar is Dallas Hotel Tucuman.
Getting result for Index 484: Cananéia.
Closest hotel in Cananéia is Dallas Hotel Tucuman.
Getting result for Index 529: Barra do Piraí.
Closest hotel in Barra do Piraí is Dallas Hotel Tucuman.

In [24]:
Hotel_df

                      City Country    Lat     Lon            Hotel Name
114  San Miguel de Tucumán      AR -26.82  -65.22  Dallas Hotel Tucuman
142              Abu Dhabi      AE  24.47   54.37  Dallas Hotel Tucuman
153                   Tura      IN  25.52   90.22  Dallas Hotel Tucuman
163                  Keïta      NE  14.76    5.77  Dallas Hotel Tucuman
175     São Félix do Xingu      BR  -6.64  -51.99  Dallas Hotel Tucuman
185              Morondava      MG -20.28   44.28  Dallas Hotel Tucuman
233                    Eyl      SO   7.98   49.82  Dallas Hotel Tucuman
248                 Dakoro      NE  14.51    6.76  Dallas Hotel Tucuman
284                 Bhuban      IN  20.88   85.83  Dallas Hotel Tucuman
287                  Arlit      NE  18.74    7.39  Dallas Hotel Tucuman
291          Half Moon Bay      US  37.46 -122.43  Dallas Hotel Tucuman
309                 Zinder      NE  13.81    8.99  Dallas Hotel Tucuman
344                   Mauá      BR -23.67  -46.46  Dallas Hotel Tucuman
347                  Kyabé      TD   9.45   18.94  Dallas Hotel Tucuman
362                 Dongli      CN  23.57  116.82  Dallas Hotel Tucuman
369                Napāsar      IN  27.97   73.55  Dallas Hotel Tucuman
381                  Uthal      PK  25.81   66.62  Dallas Hotel Tucuman
397                Songadh      IN  21.17   73.57  Dallas Hotel Tucuman
403               Upington      ZA -28.45   21.26  Dallas Hotel Tucuman
419                Biltine      TD  14.53   20.92  Dallas Hotel Tucuman
426              Sotouboua      TG   8.57    0.98  Dallas Hotel Tucuman
446          Murray Bridge      AU -35.12  139.27  Dallas Hotel Tucuman
447               Chabahar      IR  25.29   60.64  Dallas Hotel Tucuman
484               Cananéia      BR -25.01  -47.93  Dallas Hotel Tucuman
529         Barra do Piraí      BR -22.47  -43.83  Dallas Hotel Tucuman

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [ ]:
 # Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

#Add the layer to the map
fig.add_layer(markers)


# Display Map
fig