In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

##  Store Part I results into DataFrame

### Load the csv exported in Part I to a DataFrame

In [2]:
# Save path to data set in a variable
weather_data = pd.read_csv("../WeatherPy/Output_data_file")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,Okhotsk,0,RU,1603838590,83,59.38,143.30,-1.92,3.81
1,Punta Arenas,0,CL,1603838332,62,-53.15,-70.92,8.00,8.70
2,Sarkand,98,KZ,1603838591,62,45.41,79.92,6.39,1.32
3,Mataura,5,NZ,1603838591,73,-46.19,168.86,13.33,0.89
4,Kloulklubed,83,PW,1603838591,66,7.04,134.26,28.72,1.40
...,...,...,...,...,...,...,...,...,...
549,Newport,0,GB,1603838460,94,51.59,-3.00,10.00,1.34
550,Bam,0,IR,1603838725,27,29.11,58.36,15.93,4.07
551,Birao,18,CF,1603838726,47,10.28,22.79,24.29,1.88
552,Forst,63,DE,1603838726,81,51.73,14.63,8.33,0.89
553,Galesburg,90,US,1603838726,64,40.95,-90.37,3.33,1.35

In [3]:
# Import API key
from config import g_key

## Humidity Heatmap

### Configure gmaps.
### Use the Lat and Lng as locations and Humidity as the weight.
### Add Heatmap layer to map.

In [21]:
#Configure gmaps
gmaps.configure(api_key = g_key)

#Use the Lat and Lng as locations and Humidity as the weight
locations = weather_data[["Lat","Lon"]]

Humidity = weather_data["Humidity"]

In [22]:
# Plot Heatmap
fig = gmaps.figure(),

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, dissipating=False, max_intensity=10,point_radius=1),

#Add layer
fig.add_layer(heat_layer)

# Display figure
fig

AttributeError: 'tuple' object has no attribute 'add_layer'

 # Create new DataFrame fitting weather criteria

## Narrow down the cities to fit weather conditions.
## Drop any rows will null values.

In [13]:
# Narrow down the cities to fit weather conditions

Narrow_cities_df = weather_data.loc[(weather_data["Wind Speed"]<=10) & (weather_data["Cloudiness"]== 0) &  
                                   (weather_data["Max Temp"]>= 70) & (weather_data["Max Temp"]<= 80)].dropna()

Narrow_cities_df

Empty DataFrame
Columns: [City, Cloudiness, Country, Date, Humidity, Lat, Lon, Max Temp, Wind Speed]
Index: []

 # Hotel Map

## Store into variable named hotel_df.
## Add a "Hotel Name" column to the DataFrame.
## Set parameters to search for hotels with 5000 meters.
## Hit the Google Places API for each city's coordinates.
## Store the first Hotel result into the DataFrame.
## Plot markers on top of the heatmap.

In [ ]:
#Store into variable named hotel_df
Hotel_df = Narrowcities_df.loc[:, ["City", "Country", "Lat", "Lng"]]

#Add a "Hotel Name" column to the DataFrame.
Hotel_df["Hotel Name"] = ""

Hotel_df

In [ ]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type": "hotels",
         "keyword": "hotels"
         "radius" : "5000"
          "key" : "g_key"         
         }

In [17]:
for index, row in Hotel_df.iterrows():
    
    Lat =row["Lat"]
    Lng = row["Lng"]
    City_Name = row["city"]
    
    params ["locations"] = f"{Lat},{Lng}"
    print (f"Getting result for Index {index}: {City_Name}.")
    response = requests.get(url, params=params).json()
    
    results = response["results"]
    
    try:
        print(f"Closest hotel in {City_Name} is {results[0]['name']}.")
        Hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
        
    except KeyError:
            print("No result,skipping....")

NameError: name 'Hotel_df' is not defined

In [18]:
Hotel_df

NameError: name 'Hotel_df' is not defined

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
 # Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

#Add the layer to the map
fig.add_layer(markers)


# Display Map
fig